<!doctype html>
<html>
  <head>
    <title>Music Magazine Log</title>
  </head>
  <body>
    <nav>

      <h1>Music Magazine Log</h1>

      <% if logged_in? %>

        <a href="/magazines"> View All Magazines </a>
        <a href="/magazines/new"> Add A Magazine </a>
        <a href="/logout"> Log Out </a>
        <p>Logged in as: <a href="/users/<%= current_user.slug %>"><%= current_user.username %></a></p>

      <% else %>

        <a href="/signup">Sign Up</a>
        <a href="/login"> Log In </a>

      <%end %>

    </nav>

    <div class="container">
      <div class="flash-message">
        <% if flash.has?(:message) %>
          <%= flash[:message] %>
        <% end %>
      </div>

      <%= yield %>
    </div>

  </body>
</html>
